<ion-list class='list-entries'>
	<ion-item ng-repeat="item in entries.all" class="list-item item-list-entries" ng-click="entries.selectItem(item); go('/app/readpost',true)">
		<div class="{{item==entries.selectedItem?'selected':''}}">
			<div class="item-avatar item-icon-right item-list-header {{item.read?'item-read':'item-unread'}}">
				<img ng-src="{{getPhoto(item.cuser)}}" alt="Photo" 
					ng-click="go('/app/user/'+getUser(item.cuser).getDn())" 
					onerror="if(this.src!='$darwino-social/users/images/anonymous-photo.png') this.src = '$darwino-social/users/images/anonymous-photo.png';">
				<div style="width:100%;">
					<h2 ng-bind="item.unid"></h2>
					<h3 ng-bind-template="{{getUser(item.cuser).getCn()}}, {{item.cdate|formattedDate}}"></h3>
				</div>
			</div>
		</div>
	</ion-item>
	<ion-item ng-if="hasMoreButton()">
		<button class="button button-clear button-block button-positive" ng-click="loadMore()">Load More...</button>
	</ion-item>
</ion-list>

<ion-infinite-scroll ng-if="infiniteScroll && hasMore()" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
